/* Resetting default margin and padding */
body, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

/* Basic styles for the layout */
body {
  background-color: #F9B365;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  text-align: center;
  
  image-rendering: pixelated;

  color: #111;
  font-size: x-large;

}

header {
  font-size:larger;
  padding-top: 20px;
  /*background-color: #555;*/
}

nav ul {
  margin-top: 16px;
  list-style: none;
  /*background-color: red;*/

}

nav ul li {
  display: inline;
  margin: 8px;
}

nav ul li a {
  color: #111;
  text-decoration: none;
  display: inline;
  padding: 8px;
  border-radius: 10px;
  border: 2px dotted transparent;
}

main {
  margin: auto;
  margin-top: 32px;
  margin-bottom: 32px;
  width: 960px;
  /*background-color: #888;*/
}

section {
  margin-bottom: 40px;
}

.project {
  border: 3px solid #111;
  padding: 10px;
  margin-bottom: 20px;
}

footer {
  font-weight: bold;
  position: relative;
  width: 100%;
  padding: 32px 0;
  color: #44f;
 /*background-color: lightblue;*/
}

video {
  border: 3px solid #111;
}

a:hover {
  border: 2px solid #111;
}

a:active {
  background-color: #44f;
  color: #fff;
}

a img {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  vertical-align: middle;
}

li a img.default {
  display: inherit;
}
li a img.hover {
  display: none;
}

li a:hover img.default {
  display: none;
}
li a:hover img.hover {
  display: inherit;
}
