/* Resetting default margin and padding */
body, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

/* Basic styles for the layout */
body {
  background-color: bisque;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  text-align: center;
  
  image-rendering: pixelated;

  color: #111;
  font-size: large;

}

/* Nav bar */
header {
  font-size: x-large;
  padding-top: 20px;
}
nav ul {
  margin-top: 16px;
  list-style: none;
}
nav ul li {
  display: inline;
  margin: 8px;
}
nav ul li a {
  color: #111;
  text-decoration: none;
  display: inline;
  padding: 8px;
  border-radius: 10px;
  border: 2px solid transparent;
}

main {
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  margin-bottom: 32px;
}

h1 {
  font-size: xx-large;
  font-style: italic;
}

section {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
}

table {
  width: 75%;
  margin: 32px;
  max-width: 640px;
}

th {
  font-style: bold;
  text-align: center;
  font-size: x-large;
}

td {
  text-align: left;
  font-size: x-large;
}

table, th, td {
  border: 2px solid #111;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

footer {
  position: relative;
  width: 100%;
  padding: 32px 0;
}

video {
  border: 2px solid #111; 
  /*max-width: 100%;
  max-height: 100%;*/
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  margin-top: 40px;
  margin-bottom: 40px;
}

a {
  color: #44f;
  text-decoration: none;
}

a:active {
  color: #f44;
}

nav a:hover {
  border: 2px solid #111;
}

nav a:active {
  background-color: #f44;
  color: #fff;
}

nav li.active a {
  background-color: #44f;
  color: #fff;
}

a img {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  vertical-align: middle;
}

li a img.default {
  display: inherit;
}
li a img.hover {
  display: none;
}

li a:hover img.default {
  display: none;
}
li a:hover img.hover {
  display: inherit;
}
