/* Resetting default margin and padding */
body, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

/* Basic styles for the layout */
body {
  background-color: #F9B365;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  text-align: center;
  
  image-rendering: pixelated;
}

header {
  color: #111;
  padding: 20px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-left: 15px;
  margin-right: 15px;
}

nav ul li a {
  color: #111;
  text-decoration: none;
}

main {
  padding: 20px 300px;
}

section {
  margin-bottom: 30px;
}

.project {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

footer {
  text-align: center;
  padding: 10px;
  color: #111;
}

a img {
  width: 32px;
  height: 32px;
}

a img.default {
  display: inherit;
}
a img.hover {
  display: none;
}

a:hover img.default {
  display: none;
}
a:hover img.hover {
  display: inherit;
}
